.home-contents {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.home-head {
  padding-top: 25px;
  padding-left: 26px;
  padding-right: 26px;
}

.home-title {
  font-size: 28px;
  font-weight: bold;
  color: #464f69;
  text-align: left;
}

.home-description {
  margin-top: 8px;
  font-size: 16px;
  color: #464f69;
  word-wrap: break-word;
}

.home-welcome {
  margin-top: 19px;
}

.home-welcome img {
  width: 100%;
  object-fit: contain;
}

.home-button {
  margin-top: 17px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button img {
  width: 280px;
  height: 48px;
  object-fit: contain;
}
