/* ------------------------------------------------- */
/* 問合せ履歴一覧                                      */
/* ------------------------------------------------- */
.schedule-contents {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.schedule-ul {
  list-style: none;
  padding: 19px 17px 0 17px
}

.schedule-ul li {
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #c7c7c7;
  background-color: #ffffff;
  margin-bottom: 17px;
}

.schedule-ul li.spinner {
  text-align: center;
  border: 0 none;
  box-shadow: none;
  background-color: #f9f9f8;
}

.schedule-li-upper {
  padding: 10px 15px 0 15px
}

.schedule-li-lower {
  display: flex;
  padding-bottom: 9px;
}

.schedule-li-border {
  border-top: solid 1px #e6e6e6;
  margin: 20px 12px 8px 12px;
}

.schedule-li-date {
  font-size: 12px;
  text-align: left;
  color: #8692b5;
}

.schedule-li-title {
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #464f69;
}

.schedule-li-icon {
  margin-left: 11px;
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.schedule-li-status {
  margin-left: 6px;
  font-size: 12px;
  text-align: left;
  color: #8692b5;
  line-height: 28px;
}

.schedule-li-detail-button {
  margin-left: auto;
  margin-right: 20px;
}


/* ------------------------------------------------- */
/* 問合せ履歴詳細                                      */
/* ------------------------------------------------- */
.schedule-detail-contents {
  height: 100%;
  overflow-y: scroll;

  /* モーダルが効かなくなるのでコメントアウト */
  /* スクロールがカクカクする */
  /*-webkit-overflow-scrolling: touch;*/
}

.schedule-detail-contents-area {
  margin: 13px 16px 17px 17px;
  padding: 13px 17px 23px 8px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #c7c7c7;
  background-color: #ffffff;
}

.schedule-detail-contents-area-1 {
  display: flex;
}

.schedule-detail-contents-area-1-icon {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

.schedule-detail-contents-area-1-status {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 54px;
  text-align: left;
  color: #8692b5;
}

.schedule-detail-contents-area-1-date {
  margin-left: 16px;
  font-size: 12px;
  color: #8692b5;
  line-height: 24px;
}

.schedule-detail-contents-area-2 {
  margin: 8px 0 7px 16px;
}

.schedule-detail-contents-area-2-context {
  font-size: 16px;
  color: #464f69;
}

.schedule-detail-contents-area-border {
  border: solid 1px #e6e6e6;
  margin: 0 12px;
}

.schedule-detail-contents-area-3 {
  margin: 8px 0 10px 16px;
}

.schedule-detail-contents-area-3-title {
  font-size: 14px;
  font-weight: bold;
  color: #464f69;
}

.schedule-detail-contents-area-3-emergency {
  margin-left: 17px;
  font-size: 14px;
  text-align: left;
  color: #464f69;
}

.schedule-detail-contents-area-3-list {
  list-style: none;
}

.schedule-detail-contents-area-3-list li {
  margin-bottom: 6px;
}

.schedule-detail-contents-area-3-list-title {
  margin: 2px 0 2px 17px;
  display: flex;
  align-items: center;
}

.schedule-detail-contents-area-3-list-title span {
  width: 13px;
  height: 13px;
  background-color: #464f69;
  border-radius: 2px;
}

.schedule-detail-contents-area-3-list-title p {
  margin-left: 7px;
  font-size: 14px;
  text-align: left;
  color: #464f69;
}

.schedule-detail-contents-area-3-list-date {
  margin: 2px 0 2px 30px;
  display: flex;
  align-items: center;
}

.schedule-detail-contents-area-3-list-date img {
  width: 20px;
  height: 20px;
}

.schedule-detail-contents-area-3-list-date p {
  margin-left: 7px;
  font-size: 12px;
  text-align: left;
  color: #8692b5;
}

.schedule-detail-contents-area-4 {
  margin: 10px 0 20px 16px;
}

.schedule-detail-contents-area-4 p {
  font-size: 14px;
  text-align: left;
  color: #464f69;
}

.schedule-detail-contents-area-4-title {
  font-size: 14px;
  font-weight: bold;
  color: #464f69;
}

.schedule-detail-contents-area-bid {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-detail-contents-area-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-detail-contents-area-reserve {
  margin: 8px 0 10px 16px;
}

.schedule-detail-contents-area-reserve-title {
  font-size: 14px;
  font-weight: bold;
  color: #464f69;
}

.schedule-detail-contents-area-reserve-text {
  margin-left: 17px;
  margin-top: 5px ;
  font-size: 14px;
  text-align: left;
  color: #464f69;
}

.schedule-detail-contents-area-response {
  margin: 8px 0 10px 16px;
}

.schedule-detail-contents-area-response-title {
  font-size: 14px;
  font-weight: bold;
  color: #464f69;
}

.schedule-detail-contents-area-response-text {
  margin-top: 5px ;
  font-size: 14px;
  text-align: left;
  color: #464f69;
}

.schedule-detail-contents-area-response-text a {
  word-break: break-all;
}

.schedule-detail-contents-area-image {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.schedule-detail-contents-area-image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 160px;
  width: 100%;
  background-color: #000000;
}

.schedule-detail-contents-area-image img {
  max-height: 150px;
  max-width: 200px;
}

.schedule-detail-contents-area-image video {
  max-height: 150px;
  max-width: 200px;
}

.schedule-detail-contents .note {
  margin: 40px 0 0 20px;
}

.schedule-detail-contents .request-vendor {
  font-weight: bold;
  margin: 25px 0 0 20px;
}

.schedule-detail-contents .request-vendor-schedule {
  margin: 10px 0 0 20px;
}

.schedule-detail-contents .request-response {
  font-weight: bold;
  margin: 25px 0 0 20px;
}

.schedule-detail-contents .request-response-text {
  margin: 10px 0 0 20px;
  word-wrap: break-word;
}

.schedule-detail-contents > .submit {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #4f83e1;
  color: #FFF;
  font-size: 14px;
  margin: 15px 0 10px 20px;
}
