.schedule-contents {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.schedule-ul{
  height: 100%;
  list-style: none;
  padding-left: 12px;
  padding-right: 12px;
}

.schedule-ul li{
  position: relative;
  padding: 20px 0;
  display: block;
  width: 100%;
  word-wrap: break-word;
}

.schedule-ul li.spinner {
  text-align: center;
}

.schedule-message {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0;
  min-height: 4px;
  padding: 20px;
  font-size: 12px;
  line-height: 1.2em;
  color:#259afb;
  background: #FFF;
  width: 100%;
}

.schedule-date {
  margin-left: 15px;
  margin-bottom: 5px;
  color: #259afb;
}

.schedule-message-border {
  border: solid 1px #bbdffd;
  margin: 10px 0;
}

.schedule-message-title {
  display: flex;
}

.schedule-message-title-status {
  margin-left: auto;
  color: #259afb;
  font-weight: bold;
}

.schedule-message-context {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.schedule-detail-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  background: #bbdffd;
}

.schedule-detail {
  height: 90%;
  background-color: #bbdffd;
}

.schedule-detail-contents {
  height: 95%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #259afb;
  background-color: white;
  margin: 15px 12px;
  padding-top: 5px;
}

.schedule-detail-contents .title {
  font-weight: bold;
  font-size: 18px;
  margin: 30px 0 0 20px;
}

.schedule-detail-contents .status {
  font-weight: bold;
  margin: 10px 0 0 20px;
}

.schedule-detail-contents .title-context {
  font-weight: bold;
  margin: 10px 0 0 20px;
}

.schedule-detail-contents .context {
  margin: 0 0 0 20px;
}

.schedule-detail-contents .note {
  margin: 40px 0 0 20px;
}

.schedule-detail-contents .request-schedule {
  font-weight: bold;
  margin: 25px 0 0 20px;
}

.schedule-detail-contents .request-schedule-emergency {
  margin: 10px 0 0 20px;
}

.schedule-detail-contents .request-schedule-list {
  margin: 10px 0 0 40px;
}

.schedule-detail-contents .request-schedule-list li {
  margin-top: 5px;
}

.schedule-detail-contents .request-vendor {
  font-weight: bold;
  margin: 25px 0 0 20px;
}

.schedule-detail-contents .request-vendor-schedule {
  margin: 10px 0 0 20px;
}

.schedule-detail-contents .request-response {
  font-weight: bold;
  margin: 25px 0 0 20px;
}

.schedule-detail-contents .request-response-text {
  margin: 10px 0 0 20px;
  word-wrap: break-word;
}

.schedule-detail-contents > .submit {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #4f83e1;
  color: #FFF;
  font-size: 14px;
  margin: 15px 0 10px 20px;
}
