body {
    background-color: #f9f9f8;
    font-family: NotoSansJP;
}

input {
    border-radius: 5px !important;
    /* border-color: #dee2e6 !important;
    background-color: #fff !important; */
    color: #464f69 !important;
}

a.a-non-decoration {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

input:disabled {
    background-color: rgba(134, 146, 181, 0.1) !important;
}

.form-control.is-invalid {
    border-color: #dd3444;
    padding-right: .75rem;
    background: initial !important;
}

select {
    border-color: #dee2e6 !important;
}

.text-overflow-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-size-22 {
    font-size: 22px;
    color: #8692b5;
}

input.search-form {
    margin-left: 15px;
}

.search-form::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 46px;
    height: 38px;
    background-image: url(../img/btn-search.svg);
    background-size: initial;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

.search-form input {
    padding-left: 43px;
}

.amount-form::before {
    content: '円';
    display: inline-block;
    position: absolute;
    color: #464f69;
    font-size: 19px;
    font-weight: 500;
    right: 25px;
    padding-top: 5px;
}

.amount-form input {
    padding-right: 35px;
}

.btn-slate {
    background-color: #464f69;
    color:  #fff;
    font-size: 20px;
    font-weight: 500;
}

.btn-green {
    background-color: #00cf67;
    color:  #fff;
    font-size: 20px;
    font-weight: 500;
}

.btn-orange {
    background-color: #d94e24;
    color:  #fff;
    font-size: 20px;
    font-weight: 500;
}

span.invalid-feedback strong {
    padding-left: 17px;
}

span.invalid-feedback::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 15px;
    background-image: url(../img/icon-error.svg);
    background-size: initial;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

/**********************/
/* icon               */
/**********************/
i.fa-sort::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3.5px 5px 3.5px;
    border-color: transparent transparent #8692b5 transparent;
    display: inline-block;
    vertical-align: middle;
}
i.fa-sort::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #8692b5 transparent transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}


/**********************/
/* modal              */
/**********************/
.modal-dialog-fluid {
    max-width: inherit;
    width: 1250px;
}

.submitModalTitle {
    color: #464f69;
    font-size: 24px;
    font-weight: 500;
}

.submitModalBody {
    color: #464f69;
    font-size: 20px;
}

.approveModalTitle {
    color: #8692b5;
    font-size: 20px;
    font-weight: bold;
}

.approveModalBody {
    color: #8692b5;
    font-size: 16px;
}

.customModalFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.photo-modal-title {
    color: #c7c7c7 !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.custom-modal-header {
    border-bottom: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

/**********************/
/* carousel           */
/**********************/
.carousel-control-prev-icon {
    background-image: url(../img/btn-prev.svg);
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon {
    background-image: url(../img/btn-next.svg);
    width: 50px;
    height: 50px;
}

.carousel-img {
    max-height: 555px;
    max-width: 674px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/**********************/
/* tab                */
/**********************/
.nav-tabs {
    border-bottom: 5px solid #8692b5;
    margin-top: 50px;
}

.nav-tabs .nav-item {
    padding: 0 20px;
    margin-bottom: -5px;
    width: 215px;
    height: 50px;
    text-align: center;
}

.nav-tabs .nav-item .nav-link{
    height: 100%;
    font-size: 20px;
    color: #464f69;
}

.nav-tabs .nav-item .nav-link.active{
    color: #fff;
    background-color: #8692b5;
    border-color: #8692b5;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
/**********************/
/* sidebar            */
/**********************/
#sidebarMenu {
    background-color: #464f69;
    padding: 0;
}

#sidebarLogo {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

#sidebarLogo img {
    width: 63%;
}

#sidebarTitle {
    font-size: 22px;
    color: #ffffff;
    border-top: solid 1px #8692b5;
    border-bottom: solid 1px #8692b5;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
}

#sidebarMenu .nav-link {
    color: #fff;
}

#sidebarMenu .nav-link:hover {
    color: #fff;
}

#sidebarMenu .nav-item {
    padding: 3% 0 3% 20px;
    font-size: 18px;
}

#sidebarMenu .nav-item-active {
    background-color: #1f263b;
}

/**********************/
/* 検索条件           */
/**********************/
.searchCondLabel {
    color: #464f69;
    font-size: 16px;
    margin-bottom: 0;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

.btn-search {
    color: #fff;
    background-color: #6589e5;
    border-radius: 10px;
    font-size: 16px;
}

.btn-clear {
    color: #6589e5;
    border-radius: 5px;
    border: solid 2px #6589e5;
    font-size: 16px;
    width: auto;
    white-space: nowrap;
}

/****************************/
/* 入居者一覧テーブル       */
/****************************/
table.resident-list {
    table-layout: fixed;
}

table.resident-list th {
    font-size: 16px;
    color: #464f69;
    background-color: #e6e6e6;
    vertical-align: middle;
}

table.resident-list td {
    height: 47px;
    font-size: 14px;
    color: #464f69;
    background-color: #fff;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 2px solid #c7c7c7;
    padding: .5rem .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.resident-list tr:hover {
    background-color: #f9f9f8;
}

table.resident-list tr:hover td {
    background-color: transparent;
}

/**************************************************/
/* 完了報告書一覧テーブル、問合せ系テーブル       */
/**************************************************/
table.report-list, table.request-list {
    table-layout: fixed;
}

table.report-list th, table.request-list th {
    font-size: 16px;
    color: #464f69;
    background-color: #e6e6e6;
    vertical-align: middle;
}

table.report-list td, table.request-list td {
    height: 47px;
    font-size: 14px;
    color: #464f69;
    background-color: #fff;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 2px solid #c7c7c7;
    padding: .5rem .75rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.report-list tr:hover, table.request-list tr:hover {
    background-color: #f9f9f8;
}

table.report-list tr:hover td, table.request-list tr:hover td {
    background-color: transparent;
}

/**********************/
/* 完了報告書         */
/**********************/
.reportListActionStatusComplete {
    color: #fff;
    font-size: 12px;
    background-color: #c7c7c7;
    border-radius: 5px;
    width: 96px;
    display: table-cell;
    text-align: center;
    height: 22px;
    vertical-align: middle;
}

.reportListActionStatusIncomplete {
    color: #fff;
    font-size: 12px;
    background-color: #cc436d;
    border-radius: 5px;
    width: 96px;
    display: table-cell;
    text-align: center;
    height: 22px;
    vertical-align: middle;
}

.reportListActionSection {
    color: #464f69;
    font-size: 12px;
    background-color: #ffda00;
    border-radius: 5px;
    width: 67px;
    display: table-cell;
    text-align: center;
    height: 22px;
    vertical-align: middle;
}

.reportDetailTitle {
    color: #8692b5;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.reportDetailDateLabel {
    display: block;
    color: #8692b5;
    font-size: 16px;
}

.reportDetailDate {
    color: #8692b5;
    font-size: 20px;
    margin-right: 15px;
}

.reportDetailActionSection {
    color: #464f69;
    font-size: 20px;
    background-color: #ffda00;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

.reportDetailActionStatusComplete {
    color: #fff;
    font-size: 20px;
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 0 15px;
}

.reportDetailActionStatusIncomplete {
    color: #fff;
    font-size: 20px;
    background-color: #cc436d;
    border-radius: 5px;
    padding: 0 15px;
}

.reportDetailManagementCompanyName {
    color: #464f69;
    font-size: 20px;
}

.reportDetailPropertyName {
    color: #464f69;
    font-size: 22px;
    font-weight: bold;
}

.reportDetailRoomNo {
    color: #464f69;
    font-size: 20px;
}

.reportDetailDescription {
    color: #464f69;
    font-size: 18px;
    line-height: 30px;
    height: 500px;
    overflow-y: overlay;
    padding-right: 25px;
}

.reportDetailInfoHeader {
    color: #8692b5;
    font-size: 18px;
    height: 44px;
    display: flex;
    align-items: center;
}

.reportDetailInfoValue {
    color: #8692b5;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    height: 44px;
    display: flex;
    align-items: center;
}

.reportDetailDeclare {
    color: #8692b5;
    font-size: 20px;
    font-weight: 500;
}

.reportDetailUserName {
    color: #8692b5;
    font-size: 18px;
}

.reportDetailNoImg {
    max-height: 225px;
}

.reportDetailImg {
    max-height: 225px;
}

.reportDetailImg a::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../img/btn-zoom.svg);
    background-size: initial;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    left: 15px;
    bottom: 0;
}

.reportDetailZoomBtn {
    position: absolute;
    right: 15px;
    bottom: 0;
}
.modal.and.carousel {
    position: fixed;
}

.reportEditLabel {
    color: #8692b5;
    font-size: 16px;
    line-height: 1.56;
    margin-top: 15px;
    margin-bottom: 0;
}

.reportEditRequired::after {
    content: '必須';
    display: inline-block;
    position: absolute;
    background-color: #dd3444;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    margin-left: 5px;
    padding: 0 5px;
    margin-top: 3px;
}

.reportEditImageDiv {
    width: 100%;
    height: 200px;
    overflow-y: overlay;
    font-size: 0;
}

.reportEditSelectImage {
    width: 140px;
    height: 105px;
    display: inline-block;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    background-color: #fffafa;
}

.btn-delete {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    left: 107px;
    top: 72px;
    cursor: pointer;
}

/**********************/
/* ページャー         */
/**********************/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #464f69;
    border-color: #dee2e6;
}

.page-link {
    color: #464f69;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #464f69;
}

/**********************/
/* 問合せ詳細         */
/**********************/
.request-info-table {
    border-top: hidden;
}
.request-info-table th,
.request-info-table .image-movie-title {
    font-size: 16px;
    font-weight: bold;
    color: #464f69;
}

.request-info-table td {
    color: #8692b5;
}

.request-info-sub-table {
    margin-bottom: 0;
}

.request-info-sub-table th {
    background-color: #e6e6e6;
    color: #464f69;
}

.request-info-sub-table td {
    color: #8692b5;
}

.request-info-img,
.request-info-img-multiple {
    height: 340px;
    width: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.request-info-img div a::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../img/btn-zoom.svg);
    background-size: initial;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: 0;
}

.request-info-img-multiple div a::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../img/btn-image.svg);
    background-size: initial;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: 0;
}

/**********************/
/* その他             */
/**********************/
.mypage-work-items {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
    background-color: #fff;
    height: 250px;
    overflow-y: scroll;
}

.search-condition-checkbox-items {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding-top: 10px;
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
}

/**********************/
/* 前からあるの       */
/**********************/
.system-title {
    color: #8692b5;
}

.col-form-label {
    color: #8692b5;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.logout {
    position: absolute;
    bottom: 0;
}

.dashboard-content {
    background-color: #fff;
    padding: 1vw;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.dashboard-content > h6 {
    color: #6589e5;
}

.cmn-list {
    padding: 1vw;
    background-color: #fff;
    height: 11rem;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.cmn-list-add {
    color: #fff;
    background-color: #6589e5;
    background-image: url(../img/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    font-weight: bold;
}

.cmn-list-none {
    background-color: inherit;
    cursor: auto;
}

.cmn-list-title {
    font-size: 1em;
    color: #6589e5;
    font-weight: bold;
    margin-bottom: .8rem;
}

.cmn-list-created-at {
    font-size: 14px;
    color: #8c8c8c;
    width: 100%;
    display: block;
    text-align: right;
}

.cmn-list-other-info {
    font-size: 0.8em;
    color: #6589e5;
    width: 100%;
    margin-bottom: .5rem;
}

.modal-title {
    color: #8692b5;
    font-size: 24px;
    font-weight: bold;
}

.request-list {
    padding: 1vw;
    background-color: #fff;
    cursor: pointer;
}

.request-list-date {
    color: #2699fb;
    font-weight: bold;
    font-size: 1.5rem;
}

.request-list-status {
    color: #2699fb;
    font-size: .9rem;
}

.request-list-overview {
    color: #2699fb;
    font-size: .9rem;
}

.request-list-vendor-info {
    background-color: aliceblue;
}

.vendor-info-table {
    table-layout: fixed;
    margin-bottom: 0rem !important;
}

.vendor-info-title {
    color: #2699fb;
    font-weight: bold;
    font-size: 1.5rem;
}

.vendor-info-header {
    color: #2699fb;
    font-size: .9rem;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.vendor-info-value {
    color: #2699fb;
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    width: 70%;
    text-align: right;
    vertical-align: top;
}

.dashboard-request-list {
    height: 230px;
    margin-bottom: 0;
}

.dashboard-request-list th {
    width: 60%;
}

.dashboard-request-list th, .dashboard-request-list td {
    vertical-align: middle !important;
}
