@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  background: #f9f9f8;
  overflow-y: hidden;
}
